@model Rockstar.ViewModels.Review.InvitesReviewViewModel

<h2 class="text-center">Uitnodigingen</h2>

@foreach (var item in Model.Reviews)
{
    <form method="post" asp-action="New">
        <div class="tablerow">
            <div class="collapsible border-rockstar">
                <div class="item">
                    <img class="image-round-50 float-left" src="~/CompanyImages/@item.Company.Image"/>
                    <p class="color-rockstar invite-company-name margin-left75">@item.Company.Name</p>
                </div>
                <div class="item">
                    @for (int i = 0; i < item.Overall; i++)
                    {
                        <span class="icon">★</span>
                    }
                    <div class="items"> @item.Explanation</div>
                </div>


            </div>
            <div class="content">
                <div class="overall">
                    <div class="items fontsize-36">@item.Function <i>(@item.StartDate.ToString("MMMM yyyy") - @item.EndDate.ToString("MMMM yyyy"))</i></div>
                </div>

                <div>
                    <input type="number" hidden asp-for="NewReview.Id" value="@item.Id"/>
                    <label>Globale rating:</label><br/>
                    <div class="rating">
                        <label>
                            <input asp-for="NewReview.Overall" type="radio" value="1"/>
                            <span class="icon">★</span>
                        </label>
                        <label>
                            <input asp-for="NewReview.Overall" type="radio" value="2"/>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                        </label>
                        <label>
                            <input asp-for="NewReview.Overall" type="radio" value="3"/>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                        </label>
                        <label>
                            <input asp-for="NewReview.Overall" type="radio" value="4"/>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                        </label>
                        <label>
                            <input asp-for="NewReview.Overall" type="radio" value="5"/>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                        </label>
                    </div>
                    <textarea asp-for="NewReview.Explanation" class="form-control area-verticalresize input-rockstar" placeholder="Explain rating"></textarea>
                </div>

                @foreach (var category in Model.Categories)
                {
                    <div class="margin-top100">
                        <label>@category.Name</label>
                        <br/>
                        <input asp-for="@Model.Categories[category.Id - 1].Id" hidden value="@category.Id"/>
                        <div class="rating">
                            <label>
                                <input asp-for="@Model.Categories[category.Id - 1].Rating" type="radio" value="1"/>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input asp-for="@Model.Categories[category.Id - 1].Rating" type="radio" value="2"/>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input asp-for="@Model.Categories[category.Id - 1].Rating" type="radio" value="3"/>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input asp-for="@Model.Categories[category.Id - 1].Rating" type="radio" value="4"/>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input asp-for="@Model.Categories[category.Id - 1].Rating" type="radio" value="5"/>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                        </div>
                        <textarea asp-for="@Model.Categories[category.Id - 1].Explanation" class="form-control area-verticalresize input-rockstar" placeholder="Licht toe"></textarea>

                    </div>
                }
                <button class="btn btn-rockstar margin-top-bottom10 float-right" type="submit">Opslaan</button>
            </div>
        </div>
        
    </form>
}

<script>
	var coll = document.getElementsByClassName("collapsible");
	var i;

	for (i = 0; i < coll.length; i++) {
		coll[i].addEventListener("click", function () {
			this.classList.toggle("active");
			var content = this.nextElementSibling;
			if (content.style.maxHeight) {
				content.style.maxHeight = null;
			} else {
				content.style.maxHeight = content.scrollHeight + "px";
			}
		});
	}
</script>
